:root {
    --nav-height: 80px;
    --nav-margin-top: 20px;
}

* {
    transition: all 0.3s ease;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar {
    height: var(--nav-height);
    width: 90%;
    overflow: hidden;
    background-color: pink;
    box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.1);
    opacity: 90%;
    margin: auto;
    margin-top: var(--nav-margin-top);
    border-radius: 25px;
    position: sticky;
}

.navbar a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}
  
.navbar a:hover {
    background-color: #90e0ef;
    color: black;
}
  
.navbar a.active {
    background-color: white;
    color: #0077b6;
}

.calc-grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 30px;
    background-color: #2196F3;
    padding: 10px;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.1);
}

.calc-grid > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border-radius: 20px;
}

.calc-page-grid {
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
    width: 100%;
    margin: auto;
}

.index-background {
    background-image: url(../images/winery-barrels-large.jpg); /* Royalty Free image from https://www.pickpik.com/winery-chai-barrel-wine-cave-castle-124788 */
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    width: 100vw;
    z-index: -1;
    position: relative;
    top:  calc(var(--nav-height) * -1 - var(--nav-margin-top));
}