body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}
  
.navbar a:hover {
    background-color: #90e0ef;
    color: black;
}
  
.navbar a.active {
    background-color: white;
    color: #0077b6;
}

.calc-grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 30px;
    background-color: #2196F3;
    padding: 10px;
    width: 25%;
    margin: auto;
    border-radius: 20px;
}

.calc-grid > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border-radius: 20px;
}

.calc-page-grid{
    display: grid;
    grid-template-columns: auto;
    background-color: pink;
    height: 100%;
    width: 100%;
    margin: auto;
}