:root {
    --nav-height: 80px;
    --nav-margin-top: 20px;
    --curve: 10px;
}

* {
    transition: all 0.3s ease;
}

body {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.navbar {
    height: var(--nav-height);
    width: 90%;
    overflow: hidden;
    background-color: #f7934c;
    box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.1);
    opacity: 90%;
    margin: auto;
    margin-top: var(--nav-margin-top);
    border-radius: var(--curve);
    position: sticky;
}

.navbar a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    font-size: 17px;
    border-radius: var(--curve);
}
  
.navbar a:hover {
    color: white;
    background-color: #e85d04;
}

.calc-grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 30px;
    background-color: #f7934c;
    padding: 10px;
    width: 50%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.1);
}

.calc-grid > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border-radius: var(--curve);
}

.calc-page-grid {
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
    width: 100%;
    margin: auto;
}

.index-background {
    background-image: url(../images/winery-barrels-large.jpg); /* Royalty Free image from https://www.pickpik.com/winery-chai-barrel-wine-cave-castle-124788 */
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    width: 100vw;
    z-index: -1;
    position: relative;
    top:  calc(var(--nav-height) * -1 - var(--nav-margin-top));
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 2fr, 1fr;
    gap: 10%;
    pointer-events: none;
    
}

.formula {
    font-size: small;
}

.index-heading {
    text-align: center;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index-heading > p{
    background-color: #f7934cc7;
    border-radius: var(--curve);
}

.go_calculate {
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 27px;
    margin: 4px 2px;
    background-color: #f7934cc7;
    border-radius: var(--curve);
}

.go_calculate:hover {
    color: white;
    background-color: #e85d04;
}

.navbar img {
    height: 50px;
    width: 50px;
}
